.hd {
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    padding-top: 50px;
    position: relative;
    font-size: xx-large;
}

.name {
    transition: transform 0.3s ease;
    position: absolute;
    margin-left: 43%;
}

.name:hover {
    transform: scale(1.05);
}

.div-header {
    background-color: rgb(123, 52, 189);
    height: 25vh;
    margin-bottom: 50px;
    border-bottom: #444;
}

.main {
    background-color: black;
    height: 100vh;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease, background-color 1s ease;
}

.btn {
    color: rgb(18, 235, 14);
    background-color: #333;
    border: 2px solid rgb(18, 235, 14);
    border-radius: 10px;
    transition: transform 0.3s ease, color 1s ease;
    width: 200px;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #444;
}